In [484]:
import numpy as np           # Mathematical operations
import pandas as pd          # Data manipulation

# Set column display to maximum
pd.set_option('display.max_colwidth', None)

LOAD ALL DATASETS

df1 tracks regional aggregates

In [ ]:
df1 = pd.read_csv("us_foreign_aid_country.csv")
df1

,Country Code,Country Name,Region ID,Region Name,Income Group Acronym,Income Group Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
0,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,1999,19000,32607
1,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2000,50000,84059
2,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2004,1000,1548
3,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2005,29270,43963
4,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2006,1000,1455
...,...,...,...,...,...,...,...,...,...,...,...
22466,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2020,174512000,192876043
22467,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2021,139500000,149165618
22468,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2022,218500000,218500000
22469,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2023,221844709,211595124
22470,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2024,223300850,208067157

df2 tracks agency-level transactions

In [ ]:
df2 = pd.read_csv("us_foreign_aid_implementing.csv")
df2

,Managing Agency ID,Managing Agency Acronym,Managing Agency Name,Country Code,Country Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
0,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2001,35784186,58735722
1,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2002,312057887,504274646
2,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2003,561431741,890167193
3,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2004,1150135350,1780106779
4,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2005,824529799,1238468711
...,...,...,...,...,...,...,...,...,...,...
60339,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2020,174512000,192876043
60340,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2021,139500000,149165618
60341,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2022,218500000,218500000
60342,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2023,221844709,211595124
60343,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2024,223300850,208067157

df3 tracks project-level activity flows

In [ ]:
df3 = pd.read_csv("us_foreign_budget_complete.csv")
df3

,Country ID,Country Code,Country Name,Region ID,Region Name,Income Group ID,Income Group Name,Income Group Acronym,Managing Sub-agency or Bureau ID,Managing Sub-agency or Bureau Acronym,...,Funding Agency Acronym,OCO Flag,Activity ID,Activity Name,Activity Description,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
0,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,18,President's Budget Requests,2008,2500000,3332539
1,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2013,5118000,6329272
2,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2014,6466000,7844541
3,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2015,1323000,1586869
4,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2017,4380000,5119011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63025,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,State/USAID,NaN,349329000,"Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)","Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)",18,President's Budget Requests,2022,3650000,3650000
63026,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,State/USAID,NaN,349329000,"Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)","Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)",18,President's Budget Requests,2023,6420000,6123386
63027,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,State/USAID,NaN,349329000,"Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)","Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)",18,President's Budget Requests,2024,7650000,7128113
63028,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,AF,NaN,349279000,Budget for International Cadet Program,Budget for International Cadet Program,1,Appropriated and Planned,2023,195558,186523
63029,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,AF,NaN,349279000,Budget for International Cadet Program,Budget for International Cadet Program,18,President's Budget Requests,2024,300000,279534

FILTER ONLY KENYA FROM ALL DATASETS

In [ ]:
df1[df1['Country Name'] == 'Kenya']

,Country Code,Country Name,Region ID,Region Name,Income Group Acronym,Income Group Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
10123,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,446079099
10124,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2007,478274000,650843360
10125,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2008,634413000,845682535
10126,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2009,829441000,1094535315
10127,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2010,797889000,1043820507
...,...,...,...,...,...,...,...,...,...,...,...
10251,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2020,383845000,424237326
10252,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2021,330400000,353292623
10253,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2022,505250000,505250000
10254,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2023,525928515,501629766
10255,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2024,514327658,479239971

In [489]:
df2[df2['Country Name']== 'Kenya']

,Managing Agency ID,Managing Agency Acronym,Managing Agency Name,Country Code,Country Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
3538,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2001,80654947,132386048
3539,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2002,80007951,129290051
3540,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2003,78538384,124525014
3541,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2004,108473440,167888335
3542,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2005,132744307,199385969
...,...,...,...,...,...,...,...,...,...,...
57312,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2020,383845000,424237326
57313,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2021,330400000,353292623
57314,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2022,505250000,505250000
57315,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2023,525928515,501629766
57316,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2024,514327658,479239971

In [490]:
df3[df3['Country Name'] == 'Kenya']

,Country ID,Country Code,Country Name,Region ID,Region Name,Income Group ID,Income Group Name,Income Group Acronym,Managing Sub-agency or Bureau ID,Managing Sub-agency or Bureau Acronym,...,Funding Agency Acronym,OCO Flag,Activity ID,Activity Name,Activity Description,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
20590,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2014,2680000,3251372
20591,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2015,1722000,2065449
20592,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2016,1620000,1927136
20593,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2017,90000,105185
20594,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2019,34676000,38836256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21387,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,State/USAID,NaN,349332000,Budget for Development Assistance,Budget for Development Assistance,18,President's Budget Requests,2024,9435000,8791340
21388,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2021,9906000,10592363
21389,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2022,16834000,16834000
21390,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2023,28794000,27463671
21391,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2021,8000000,8554301

QUICK DATA UNDERSTANDING FOR EACH TO INFORM ON MERGING CRITERIA

In [491]:
print("Metadata Check for df1:\n")
df1.info()

print('\n' + '*'*70)
print("\nMetadata Check for df2:\n")
df2.info()

print('\n' + '*'*70)
print("\nMetadata Check for df3:\n")
df3.info()

Metadata Check for df1:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22471 entries, 0 to 22470
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Code           22416 non-null  object
 1   Country Name           22471 non-null  object
 2   Region ID              22471 non-null  int64
 3   Region Name            22471 non-null  object
 4   Income Group Acronym   19947 non-null  object
 5   Income Group Name      19947 non-null  object
 6   Transaction Type ID    22471 non-null  int64
 7   Transaction Type Name  22471 non-null  object
 8   Fiscal Year            22471 non-null  object
 9   current_amount         22471 non-null  int64
 10  constant_amount        22471 non-null  int64
dtypes: int64(4), object(7)
memory usage: 1.9+ MB

**********************************************************************

Metadata Check for df2:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60344 entries, 0 to 60343
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Managing Agency ID       60344 non-null  int64
 1   Managing Agency Acronym  55028 non-null  object
 2   Managing Agency Name     60344 non-null  object
 3   Country Code             60340 non-null  object
 4   Country Name             60344 non-null  object
 5   Transaction Type ID      60344 non-null  int64
 6   Transaction Type Name    60344 non-null  object
 7   Fiscal Year              60344 non-null  int64
 8   current_amount           60344 non-null  int64
 9   constant_amount          60344 non-null  int64
dtypes: int64(5), object(5)
memory usage: 4.6+ MB

**********************************************************************

Metadata Check for df3:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63030 entries, 0 to 63029
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Country ID                             63030 non-null  int64
 1   Country Code                           63030 non-null  object
 2   Country Name                           63030 non-null  object
 3   Region ID                              63030 non-null  int64
 4   Region Name                            63030 non-null  object
 5   Income Group ID                        47596 non-null  float64
 6   Income Group Name                      47596 non-null  object
 7   Income Group Acronym                   47596 non-null  object
 8   Managing Sub-agency or Bureau ID       63030 non-null  int64
 9   Managing Sub-agency or Bureau Acronym  48247 non-null  object
 10  Managing Sub-agency or Bureau Name     63030 non-null  object
 11  Operating Unit                         60222 non-null  object
 12  International Category ID              63030 non-null  int64
 13  International Category Name            63030 non-null  object
 14  International Sector Code              63030 non-null  int64
 15  International Sector Name              63030 non-null  object
 16  International Purpose Code             63030 non-null  int64
 17  International Purpose Name             63030 non-null  object
 18  US Category ID                         63030 non-null  int64
 19  US Category Name                       63030 non-null  object
 20  US Sector ID                           63030 non-null  int64
 21  US Sector Name                         63030 non-null  object
 22  Funding Account ID                     63030 non-null  object
 23  Funding Account Name                   63030 non-null  object
 24  Funding Agency ID                      63030 non-null  int64
 25  Funding Agency Name                    63030 non-null  object
 26  Funding Agency Acronym                 63030 non-null  object
 27  OCO Flag                               2437 non-null   float64
 28  Activity ID                            63030 non-null  int64
 29  Activity Name                          63030 non-null  object
 30  Activity Description                   63030 non-null  object
 31  Transaction Type ID                    63030 non-null  int64
 32  Transaction Type Name                  63030 non-null  object
 33  Fiscal Year                            63030 non-null  int64
 34  current_amount                         63030 non-null  int64
 35  constant_amount                        63030 non-null  int64
dtypes: float64(2), int64(14), object(20)
memory usage: 17.3+ MB

In [492]:
# Verify all share the same column keys
print(set(df1.columns) & set(df2.columns) & set(df3.columns))

{'Country Code', 'Fiscal Year', 'Country Name', 'constant_amount', 'Transaction Type Name', 'Transaction Type ID', 'current_amount'}

In [493]:
# Check for duplicates in merge keys
print(df1_kenya.duplicated(subset=['Country Name', 'Fiscal Year', 'Transaction Type ID']).sum())
print(df2_kenya.duplicated(subset=['Country Name', 'Fiscal Year', 'Transaction Type ID']).sum())
print(df3_kenya.duplicated(subset=['Country Name', 'Fiscal Year', 'Transaction Type ID']).sum())

0
530
767

In [494]:
df23 = df2_kenya.merge(df3_kenya, on=['Country Name', 'Fiscal Year', 'Transaction Type ID'], how='inner', suffixes=('_df2', '_df3'))
Kenya_Df = df1_kenya.merge(df23, on='Country Name', how='left')

# Preview
Kenya_Df.head()

,Country Code,Country Name,Region ID_x,Region Name_x,Income Group Acronym_x,Income Group Name_x,Transaction Type ID_x,Transaction Type Name,Fiscal Year_x,current_amount,...,Funding Agency ID,Funding Agency Name,Funding Agency Acronym,OCO Flag,Activity ID,Activity Name,Activity Description,Transaction Type Name_df3,current_amount_df3,constant_amount_df3
0,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,1808000,2527828
1,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,1205000,1684752
2,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,7031000,9830286
3,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,32921000,46027995
4,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349611000,"Budget for Public Law 480 Title II Grants, H.R. 2863 Supplemental","Budget for Public Law 480 Title II Grants, H.R. 2863 Supplemental",Appropriated and Planned,49500000,69207672

In [495]:
# Check columns
Kenya_Df.columns

Index(['Country Code', 'Country Name', 'Region ID_x', 'Region Name_x',
       'Income Group Acronym_x', 'Income Group Name_x',
       'Transaction Type ID_x', 'Transaction Type Name', 'Fiscal Year_x',
       'current_amount', 'constant_amount', 'Managing Agency ID',
       'Managing Agency Acronym', 'Managing Agency Name', 'Country Code_df2',
       'Transaction Type ID_y', 'Transaction Type Name_df2', 'Fiscal Year_y',
       'current_amount_df2', 'constant_amount_df2', 'Country ID',
       'Country Code_df3', 'Region ID_y', 'Region Name_y', 'Income Group ID',
       'Income Group Name_y', 'Income Group Acronym_y',
       'Managing Sub-agency or Bureau ID',
       'Managing Sub-agency or Bureau Acronym',
       'Managing Sub-agency or Bureau Name', 'Operating Unit',
       'International Category ID', 'International Category Name',
       'International Sector Code', 'International Sector Name',
       'International Purpose Code', 'International Purpose Name',
       'US Category ID', 'US Category Name', 'US Sector ID', 'US Sector Name',
       'Funding Account ID', 'Funding Account Name', 'Funding Agency ID',
       'Funding Agency Name', 'Funding Agency Acronym', 'OCO Flag',
       'Activity ID', 'Activity Name', 'Activity Description',
       'Transaction Type Name_df3', 'current_amount_df3',
       'constant_amount_df3'],
      dtype='object')

In [496]:
# ===
# CLEANUP AND COLUMN RENAMING
# ===

# Define rename map
rename_map = {
    # --- Core Identifiers ---
    'Country Code': 'country_code',
    'Country Name': 'country_name',
    'Region ID_x': 'region_id',
    'Region Name_x': 'region_name',
    'Income Group Acronym_x': 'income_group_acronym',
    'Income Group Name_x': 'income_group_name',

    # --- Transaction Types and Years ---
    'Transaction Type ID_x': 'transaction_type_id_total',
    'Transaction Type Name': 'transaction_type_name_total',
    'Fiscal Year_x': 'fiscal_year_total',
    'Transaction Type ID_y': 'transaction_type_id_agency',
    'Transaction Type Name_df2': 'transaction_type_name_agency',
    'Fiscal Year_y': 'fiscal_year_agency',
    'Transaction Type Name_df3': 'transaction_type_name_activity',

    # --- Amounts ---
    'current_amount': 'current_amount_total_aid',
    'constant_amount': 'constant_amount_total_aid',
    'current_amount_df2': 'current_amount_by_agency',
    'constant_amount_df2': 'constant_amount_by_agency',
    'current_amount_df3': 'current_amount_by_activity',
    'constant_amount_df3': 'constant_amount_by_activity',

    # --- Agency Info ---
    'Managing Agency ID': 'managing_agency_id',
    'Managing Agency Acronym': 'managing_agency_acronym',
    'Managing Agency Name': 'managing_agency_name',
    'Managing Sub-agency or Bureau ID': 'sub_agency_id',
    'Managing Sub-agency or Bureau Acronym': 'sub_agency_acronym',
    'Managing Sub-agency or Bureau Name': 'sub_agency_name',

    # --- Funding & Institutional Info ---
    'Funding Account ID': 'funding_account_id',
    'Funding Account Name': 'funding_account_name',
    'Funding Agency ID': 'funding_agency_id',
    'Funding Agency Name': 'funding_agency_name',
    'Funding Agency Acronym': 'funding_agency_acronym',

    # --- Thematic & Sector Classifications ---
    'International Category ID': 'intl_category_id',
    'International Category Name': 'intl_category_name',
    'International Sector Code': 'intl_sector_code',
    'International Sector Name': 'intl_sector_name',
    'International Purpose Code': 'intl_purpose_code',
    'International Purpose Name': 'intl_purpose_name',
    'US Category ID': 'us_category_id',
    'US Category Name': 'us_category_name',
    'US Sector ID': 'us_sector_id',
    'US Sector Name': 'us_sector_name',

    # --- Activity Info ---
    'Activity ID': 'activity_id',
    'Activity Name': 'activity_name',
    'Activity Description': 'activity_description',

    # --- Misc ---
    'Operating Unit': 'operating_unit',
    'OCO Flag': 'oco_flag',
    'Country ID': 'country_id_df3'
}

# Apply renaming
Kenya_Df.rename(columns=rename_map, inplace=True)


# ===
# DROP REDUNDANT / LOW-USE COLUMNS
# ===

cols_to_drop = [
    # Duplicate and non-informative
    'country_code_df2', 'country_code_df3', 'region_name_df3', 'region_id_df3',
    'income_group_id_df3', 'transaction_type_id_total', 'transaction_type_id_agency',

    # Metadata not useful for analysis
    'funding_account_id', 'funding_account_name', 'oco_flag', 'managing_agency_acronym',
    'sub_agency_acronym', 'funding_agency_acronym',

    # Codes
    'us_category_id', 'intl_category_id', 'intl_sector_code', 'intl_purpose_code',

    # Ids
    'sub_agency_id', 'region_id'
]

# Drop columns 
Kenya_Df.drop(columns=cols_to_drop, inplace=True, errors='ignore')

# Sanity check
print(f"Cleaned dataset contains {Kenya_Df.shape[0]} rows and {Kenya_Df.shape[1]} columns")

Cleaned dataset contains 106666 rows and 39 columns

DATA QUALITY CHECK

In [497]:
# ===
# CHECK FOR DUPLICATES AND MISSINGNESS
# ===

# Check for duplicates
print(f"Duplicates: {Kenya_Df.duplicated().sum()}")

# Check for missing values
missing_summary = Kenya_Df.isnull().sum()
print("\nMissing values by column:", missing_summary[missing_summary > 0])

Duplicates: 0

Missing values by column: operating_unit    6916
dtype: int64

In [ ]:
# ===
# FINAL DATA CLEANING & QUALITY CHECKS
# ===

# Drop rows with missing Operating Unit
Kenya_Df.dropna(subset=['operating_unit'], inplace=True)

# Dataset Overview
print("=" * 7)
print(f"Final Cleaned Dataset Summary")
print("=" * 7)
print(f"Rows: {Kenya_Df.shape[0]:,}")
print(f"Columns: {Kenya_Df.shape[1]:,}")
print()

# Data Structure
print("=" * 7)
print("Dataset Info:")
print("=" * 7)
Kenya_Df.info()
print()

# Missing Values Summary
print("=" * 7)
print("Missing Values per Column")
print("=" * 7)

missing_summary = (
    Kenya_Df.isna()
    .sum()
    .reset_index()
    .rename(columns={'index': 'column', 0: 'missing_count'})
)
missing_summary['missing_percent'] = (missing_summary['missing_count'] / len(Kenya_Df)) * 100
missing_summary = missing_summary[missing_summary['missing_count'] > 0]

if missing_summary.empty:
    print("No missing values!")
else:
    display(missing_summary.sort_values(by='missing_count', ascending=False))

=======
Final Cleaned Dataset Summary
=======
Rows: 99,750
Columns: 39

=======
Dataset Info:
=======
<class 'pandas.core.frame.DataFrame'>
Index: 99750 entries, 5 to 106665
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_code                    99750 non-null  object
 1   country_name                    99750 non-null  object
 2   region_name                     99750 non-null  object
 3   income_group_acronym            99750 non-null  object
 4   income_group_name               99750 non-null  object
 5   transaction_type_name_total     99750 non-null  object
 6   fiscal_year_total               99750 non-null  object
 7   current_amount_total_aid        99750 non-null  int64
 8   constant_amount_total_aid       99750 non-null  int64
 9   managing_agency_id              99750 non-null  int64
 10  managing_agency_name            99750 non-null  object
 11  Country Code_df2                99750 non-null  object
 12  transaction_type_name_agency    99750 non-null  object
 13  fiscal_year_agency              99750 non-null  int64
 14  current_amount_by_agency        99750 non-null  int64
 15  constant_amount_by_agency       99750 non-null  int64
 16  country_id_df3                  99750 non-null  int64
 17  Country Code_df3                99750 non-null  object
 18  Region ID_y                     99750 non-null  int64
 19  Region Name_y                   99750 non-null  object
 20  Income Group ID                 99750 non-null  float64
 21  Income Group Name_y             99750 non-null  object
 22  Income Group Acronym_y          99750 non-null  object
 23  sub_agency_name                 99750 non-null  object
 24  operating_unit                  99750 non-null  object
 25  intl_category_name              99750 non-null  object
 26  intl_sector_name                99750 non-null  object
 27  intl_purpose_name               99750 non-null  object
 28  us_category_name                99750 non-null  object
 29  us_sector_id                    99750 non-null  int64
 30  us_sector_name                  99750 non-null  object
 31  funding_agency_id               99750 non-null  int64
 32  funding_agency_name             99750 non-null  object
 33  activity_id                     99750 non-null  int64
 34  activity_name                   99750 non-null  object
 35  activity_description            99750 non-null  object
 36  transaction_type_name_activity  99750 non-null  object
 37  current_amount_by_activity      99750 non-null  int64
 38  constant_amount_by_activity     99750 non-null  int64
dtypes: float64(1), int64(13), object(25)
memory usage: 30.4+ MB

=======
Missing Values per Column
=======
No missing values!

NOW FILTER TO ONLY CONTAIN HEALTH REKATED RECORDS

In [499]:
# Filter for health-related records
health_df = Kenya_Df[
    Kenya_Df['intl_sector_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['intl_purpose_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['us_sector_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['activity_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['activity_description'].str.contains('health', case=False, na=False)
]

health_df.head(3)

,country_code,country_name,region_name,income_group_acronym,income_group_name,transaction_type_name_total,fiscal_year_total,current_amount_total_aid,constant_amount_total_aid,managing_agency_id,...,us_sector_id,us_sector_name,funding_agency_id,funding_agency_name,activity_id,activity_name,activity_description,transaction_type_name_activity,current_amount_by_activity,constant_amount_by_activity
6,KEN,Kenya,Sub-Saharan Africa,LMIC,Lower Middle Income Country,Appropriated and Planned,2006,319053000,446079099,98,...,13,Malaria,39,Department of State and U.S. Agency for International Development,349448000,Budget for Global Health Programs,Budget for Global Health Programs,Appropriated and Planned,5470000,7647797
7,KEN,Kenya,Sub-Saharan Africa,LMIC,Lower Middle Income Country,Appropriated and Planned,2006,319053000,446079099,98,...,12,Tuberculosis,39,Department of State and U.S. Agency for International Development,349448000,Budget for Global Health Programs,Budget for Global Health Programs,Appropriated and Planned,1483000,2073434
8,KEN,Kenya,Sub-Saharan Africa,LMIC,Lower Middle Income Country,Appropriated and Planned,2006,319053000,446079099,98,...,16,Maternal and Child Health,39,Department of State and U.S. Agency for International Development,349448000,Budget for Global Health Programs,Budget for Global Health Programs,Appropriated and Planned,989000,1382755

In [ ]:
# Save the final dataset
Kenya_Df.to_csv('Kenya_merged.csv', index=False)