### IMPORT RELEVANT LIBRARIES

In [1]:
import numpy as np           # Mathematical operations
import pandas as pd          # Data manipulation

# Set column display to maximum
pd.set_option('display.max_colwidth', None)

## LOAD ALL FOREIGN AID DATASETS

df1 tracks regional aggregates

In [ ]:
df1 = pd.read_csv("us_foreign_aid_country.csv")
df1

,Country Code,Country Name,Region ID,Region Name,Income Group Acronym,Income Group Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
0,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,1999,19000,32607
1,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2000,50000,84059
2,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2004,1000,1548
3,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2005,29270,43963
4,ABW,Aruba,6,Western Hemisphere,HIC,High Income Country,2,Obligations,2006,1000,1455
...,...,...,...,...,...,...,...,...,...,...,...
22466,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2020,174512000,192876043
22467,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2021,139500000,149165618
22468,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2022,218500000,218500000
22469,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2023,221844709,211595124
22470,ZWE,Zimbabwe,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2024,223300850,208067157

df2 tracks agency-level transactions

In [ ]:
df2 = pd.read_csv("us_foreign_aid_implementing.csv")
df2

,Managing Agency ID,Managing Agency Acronym,Managing Agency Name,Country Code,Country Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
0,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2001,35784186,58735722
1,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2002,312057887,504274646
2,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2003,561431741,890167193
3,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2004,1150135350,1780106779
4,1,USAID,U.S. Agency for International Development,AFG,Afghanistan,2,Obligations,2005,824529799,1238468711
...,...,...,...,...,...,...,...,...,...,...
60339,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2020,174512000,192876043
60340,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2021,139500000,149165618
60341,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2022,218500000,218500000
60342,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2023,221844709,211595124
60343,98,NaN,Not applicable - Budget Data,ZWE,Zimbabwe,18,President's Budget Requests,2024,223300850,208067157

df3 tracks project-level activity flows

In [ ]:
df3 = pd.read_csv("us_foreign_budget_complete.csv")
df3

,Country ID,Country Code,Country Name,Region ID,Region Name,Income Group ID,Income Group Name,Income Group Acronym,Managing Sub-agency or Bureau ID,Managing Sub-agency or Bureau Acronym,...,Funding Agency Acronym,OCO Flag,Activity ID,Activity Name,Activity Description,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
0,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,18,President's Budget Requests,2008,2500000,3332539
1,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2013,5118000,6329272
2,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2014,6466000,7844541
3,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2015,1323000,1586869
4,4,AFG,Afghanistan,4,South and Central Asia,1.0,Low Income Country,LIC,57,SCA,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2017,4380000,5119011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63025,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,State/USAID,NaN,349329000,"Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)","Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)",18,President's Budget Requests,2022,3650000,3650000
63026,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,State/USAID,NaN,349329000,"Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)","Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)",18,President's Budget Requests,2023,6420000,6123386
63027,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,State/USAID,NaN,349329000,"Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)","Budget for Assistance for Europe, Eurasia and Central Asia (AEECA)",18,President's Budget Requests,2024,7650000,7128113
63028,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,AF,NaN,349279000,Budget for International Cadet Program,Budget for International Cadet Program,1,Appropriated and Planned,2023,195558,186523
63029,1071,CS-KM,Kosovo,2,Europe and Eurasia,3.0,Upper Middle Income Country,UMIC,998,NaN,...,AF,NaN,349279000,Budget for International Cadet Program,Budget for International Cadet Program,18,President's Budget Requests,2024,300000,279534

### FILTER ONLY KENYA FROM ALL DATASETS

In [ ]:
df1[df1['Country Name'] == 'Kenya']

,Country Code,Country Name,Region ID,Region Name,Income Group Acronym,Income Group Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
10123,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,446079099
10124,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2007,478274000,650843360
10125,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2008,634413000,845682535
10126,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2009,829441000,1094535315
10127,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2010,797889000,1043820507
...,...,...,...,...,...,...,...,...,...,...,...
10251,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2020,383845000,424237326
10252,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2021,330400000,353292623
10253,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2022,505250000,505250000
10254,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2023,525928515,501629766
10255,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,18,President's Budget Requests,2024,514327658,479239971

In [489]:
df2[df2['Country Name']== 'Kenya']

,Managing Agency ID,Managing Agency Acronym,Managing Agency Name,Country Code,Country Name,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
3538,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2001,80654947,132386048
3539,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2002,80007951,129290051
3540,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2003,78538384,124525014
3541,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2004,108473440,167888335
3542,1,USAID,U.S. Agency for International Development,KEN,Kenya,2,Obligations,2005,132744307,199385969
...,...,...,...,...,...,...,...,...,...,...
57312,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2020,383845000,424237326
57313,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2021,330400000,353292623
57314,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2022,505250000,505250000
57315,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2023,525928515,501629766
57316,98,NaN,Not applicable - Budget Data,KEN,Kenya,18,President's Budget Requests,2024,514327658,479239971

In [490]:
df3[df3['Country Name'] == 'Kenya']

,Country ID,Country Code,Country Name,Region ID,Region Name,Income Group ID,Income Group Name,Income Group Acronym,Managing Sub-agency or Bureau ID,Managing Sub-agency or Bureau Acronym,...,Funding Agency Acronym,OCO Flag,Activity ID,Activity Name,Activity Description,Transaction Type ID,Transaction Type Name,Fiscal Year,current_amount,constant_amount
20590,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2014,2680000,3251372
20591,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2015,1722000,2065449
20592,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2016,1620000,1927136
20593,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2017,90000,105185
20594,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,53,AF,...,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,1,Appropriated and Planned,2019,34676000,38836256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21387,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,State/USAID,NaN,349332000,Budget for Development Assistance,Budget for Development Assistance,18,President's Budget Requests,2024,9435000,8791340
21388,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2021,9906000,10592363
21389,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2022,16834000,16834000
21390,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2023,28794000,27463671
21391,404,KEN,Kenya,5,Sub-Saharan Africa,2.0,Lower Middle Income Country,LMIC,998,NaN,...,AGR,NaN,349334000,Budget for Food for Peace Title II,Budget for Food for Peace Title II,1,Appropriated and Planned,2021,8000000,8554301

### QUICK DATA UNDERSTANDING FOR EACH TO INFORM ON MERGING CRITERIA

In [491]:
print("Metadata Check for df1:\n")
df1.info()

print('\n' + '*'*70)
print("\nMetadata Check for df2:\n")
df2.info()

print('\n' + '*'*70)
print("\nMetadata Check for df3:\n")
df3.info()

Metadata Check for df1:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22471 entries, 0 to 22470
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Code           22416 non-null  object
 1   Country Name           22471 non-null  object
 2   Region ID              22471 non-null  int64
 3   Region Name            22471 non-null  object
 4   Income Group Acronym   19947 non-null  object
 5   Income Group Name      19947 non-null  object
 6   Transaction Type ID    22471 non-null  int64
 7   Transaction Type Name  22471 non-null  object
 8   Fiscal Year            22471 non-null  object
 9   current_amount         22471 non-null  int64
 10  constant_amount        22471 non-null  int64
dtypes: int64(4), object(7)
memory usage: 1.9+ MB

**********************************************************************

Metadata Check for df2:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60344 entries, 0 to 60343
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Managing Agency ID       60344 non-null  int64
 1   Managing Agency Acronym  55028 non-null  object
 2   Managing Agency Name     60344 non-null  object
 3   Country Code             60340 non-null  object
 4   Country Name             60344 non-null  object
 5   Transaction Type ID      60344 non-null  int64
 6   Transaction Type Name    60344 non-null  object
 7   Fiscal Year              60344 non-null  int64
 8   current_amount           60344 non-null  int64
 9   constant_amount          60344 non-null  int64
dtypes: int64(5), object(5)
memory usage: 4.6+ MB

**********************************************************************

Metadata Check for df3:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63030 entries, 0 to 63029
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Country ID                             63030 non-null  int64
 1   Country Code                           63030 non-null  object
 2   Country Name                           63030 non-null  object
 3   Region ID                              63030 non-null  int64
 4   Region Name                            63030 non-null  object
 5   Income Group ID                        47596 non-null  float64
 6   Income Group Name                      47596 non-null  object
 7   Income Group Acronym                   47596 non-null  object
 8   Managing Sub-agency or Bureau ID       63030 non-null  int64
 9   Managing Sub-agency or Bureau Acronym  48247 non-null  object
 10  Managing Sub-agency or Bureau Name     63030 non-null  object
 11  Operating Unit                         60222 non-null  object
 12  International Category ID              63030 non-null  int64
 13  International Category Name            63030 non-null  object
 14  International Sector Code              63030 non-null  int64
 15  International Sector Name              63030 non-null  object
 16  International Purpose Code             63030 non-null  int64
 17  International Purpose Name             63030 non-null  object
 18  US Category ID                         63030 non-null  int64
 19  US Category Name                       63030 non-null  object
 20  US Sector ID                           63030 non-null  int64
 21  US Sector Name                         63030 non-null  object
 22  Funding Account ID                     63030 non-null  object
 23  Funding Account Name                   63030 non-null  object
 24  Funding Agency ID                      63030 non-null  int64
 25  Funding Agency Name                    63030 non-null  object
 26  Funding Agency Acronym                 63030 non-null  object
 27  OCO Flag                               2437 non-null   float64
 28  Activity ID                            63030 non-null  int64
 29  Activity Name                          63030 non-null  object
 30  Activity Description                   63030 non-null  object
 31  Transaction Type ID                    63030 non-null  int64
 32  Transaction Type Name                  63030 non-null  object
 33  Fiscal Year                            63030 non-null  int64
 34  current_amount                         63030 non-null  int64
 35  constant_amount                        63030 non-null  int64
dtypes: float64(2), int64(14), object(20)
memory usage: 17.3+ MB

In [492]:
# Verify all share the same column keys
print(set(df1.columns) & set(df2.columns) & set(df3.columns))

{'Country Code', 'Fiscal Year', 'Country Name', 'constant_amount', 'Transaction Type Name', 'Transaction Type ID', 'current_amount'}

In [493]:
# Check for duplicates in merge keys
print(df1_kenya.duplicated(subset=['Country Name', 'Fiscal Year', 'Transaction Type ID']).sum())
print(df2_kenya.duplicated(subset=['Country Name', 'Fiscal Year', 'Transaction Type ID']).sum())
print(df3_kenya.duplicated(subset=['Country Name', 'Fiscal Year', 'Transaction Type ID']).sum())

0
530
767

In [494]:
df23 = df2_kenya.merge(df3_kenya, on=['Country Name', 'Fiscal Year', 'Transaction Type ID'], how='inner', suffixes=('_df2', '_df3'))
Kenya_Df = df1_kenya.merge(df23, on='Country Name', how='left')

# Preview
Kenya_Df.head()

,Country Code,Country Name,Region ID_x,Region Name_x,Income Group Acronym_x,Income Group Name_x,Transaction Type ID_x,Transaction Type Name,Fiscal Year_x,current_amount,...,Funding Agency ID,Funding Agency Name,Funding Agency Acronym,OCO Flag,Activity ID,Activity Name,Activity Description,Transaction Type Name_df3,current_amount_df3,constant_amount_df3
0,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,1808000,2527828
1,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,1205000,1684752
2,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,7031000,9830286
3,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349604000,Budget for Public Law 480 Title II Grants,Budget for Public Law 480 Title II Grants,Appropriated and Planned,32921000,46027995
4,KEN,Kenya,5,Sub-Saharan Africa,LMIC,Lower Middle Income Country,1,Appropriated and Planned,2006,319053000,...,5,Department of Agriculture,AGR,NaN,349611000,"Budget for Public Law 480 Title II Grants, H.R. 2863 Supplemental","Budget for Public Law 480 Title II Grants, H.R. 2863 Supplemental",Appropriated and Planned,49500000,69207672

In [495]:
# Check columns
Kenya_Df.columns

Index(['Country Code', 'Country Name', 'Region ID_x', 'Region Name_x',
       'Income Group Acronym_x', 'Income Group Name_x',
       'Transaction Type ID_x', 'Transaction Type Name', 'Fiscal Year_x',
       'current_amount', 'constant_amount', 'Managing Agency ID',
       'Managing Agency Acronym', 'Managing Agency Name', 'Country Code_df2',
       'Transaction Type ID_y', 'Transaction Type Name_df2', 'Fiscal Year_y',
       'current_amount_df2', 'constant_amount_df2', 'Country ID',
       'Country Code_df3', 'Region ID_y', 'Region Name_y', 'Income Group ID',
       'Income Group Name_y', 'Income Group Acronym_y',
       'Managing Sub-agency or Bureau ID',
       'Managing Sub-agency or Bureau Acronym',
       'Managing Sub-agency or Bureau Name', 'Operating Unit',
       'International Category ID', 'International Category Name',
       'International Sector Code', 'International Sector Name',
       'International Purpose Code', 'International Purpose Name',
       'US Category ID', 'US Category Name', 'US Sector ID', 'US Sector Name',
       'Funding Account ID', 'Funding Account Name', 'Funding Agency ID',
       'Funding Agency Name', 'Funding Agency Acronym', 'OCO Flag',
       'Activity ID', 'Activity Name', 'Activity Description',
       'Transaction Type Name_df3', 'current_amount_df3',
       'constant_amount_df3'],
      dtype='object')

In [496]:
# ===
# CLEANUP AND COLUMN RENAMING
# ===

# Define rename map
rename_map = {
    # --- Core Identifiers ---
    'Country Code': 'country_code',
    'Country Name': 'country_name',
    'Region ID_x': 'region_id',
    'Region Name_x': 'region_name',
    'Income Group Acronym_x': 'income_group_acronym',
    'Income Group Name_x': 'income_group_name',

    # --- Transaction Types and Years ---
    'Transaction Type ID_x': 'transaction_type_id_total',
    'Transaction Type Name': 'transaction_type_name_total',
    'Fiscal Year_x': 'fiscal_year_total',
    'Transaction Type ID_y': 'transaction_type_id_agency',
    'Transaction Type Name_df2': 'transaction_type_name_agency',
    'Fiscal Year_y': 'fiscal_year_agency',
    'Transaction Type Name_df3': 'transaction_type_name_activity',

    # --- Amounts ---
    'current_amount': 'current_amount_total_aid',
    'constant_amount': 'constant_amount_total_aid',
    'current_amount_df2': 'current_amount_by_agency',
    'constant_amount_df2': 'constant_amount_by_agency',
    'current_amount_df3': 'current_amount_by_activity',
    'constant_amount_df3': 'constant_amount_by_activity',

    # --- Agency Info ---
    'Managing Agency ID': 'managing_agency_id',
    'Managing Agency Acronym': 'managing_agency_acronym',
    'Managing Agency Name': 'managing_agency_name',
    'Managing Sub-agency or Bureau ID': 'sub_agency_id',
    'Managing Sub-agency or Bureau Acronym': 'sub_agency_acronym',
    'Managing Sub-agency or Bureau Name': 'sub_agency_name',

    # --- Funding & Institutional Info ---
    'Funding Account ID': 'funding_account_id',
    'Funding Account Name': 'funding_account_name',
    'Funding Agency ID': 'funding_agency_id',
    'Funding Agency Name': 'funding_agency_name',
    'Funding Agency Acronym': 'funding_agency_acronym',

    # --- Thematic & Sector Classifications ---
    'International Category ID': 'intl_category_id',
    'International Category Name': 'intl_category_name',
    'International Sector Code': 'intl_sector_code',
    'International Sector Name': 'intl_sector_name',
    'International Purpose Code': 'intl_purpose_code',
    'International Purpose Name': 'intl_purpose_name',
    'US Category ID': 'us_category_id',
    'US Category Name': 'us_category_name',
    'US Sector ID': 'us_sector_id',
    'US Sector Name': 'us_sector_name',

    # --- Activity Info ---
    'Activity ID': 'activity_id',
    'Activity Name': 'activity_name',
    'Activity Description': 'activity_description',

    # --- Misc ---
    'Operating Unit': 'operating_unit',
    'OCO Flag': 'oco_flag',
    'Country ID': 'country_id_df3'
}

# Apply renaming
Kenya_Df.rename(columns=rename_map, inplace=True)


# ===
# DROP REDUNDANT / LOW-USE COLUMNS
# ===

cols_to_drop = [
    # Duplicate and non-informative
    'country_code_df2', 'country_code_df3', 'region_name_df3', 'region_id_df3',
    'income_group_id_df3', 'transaction_type_id_total', 'transaction_type_id_agency',

    # Metadata not useful for analysis
    'funding_account_id', 'funding_account_name', 'oco_flag', 'managing_agency_acronym',
    'sub_agency_acronym', 'funding_agency_acronym',

    # Codes
    'us_category_id', 'intl_category_id', 'intl_sector_code', 'intl_purpose_code',

    # Ids
    'sub_agency_id', 'region_id'
]

# Drop columns 
Kenya_Df.drop(columns=cols_to_drop, inplace=True, errors='ignore')

# Sanity check
print(f"Cleaned dataset contains {Kenya_Df.shape[0]} rows and {Kenya_Df.shape[1]} columns")

Cleaned dataset contains 106666 rows and 39 columns

### DATA QUALITY CHECK

In [497]:
# ===
# CHECK FOR DUPLICATES AND MISSINGNESS
# ===

# Check for duplicates
print(f"Duplicates: {Kenya_Df.duplicated().sum()}")

# Check for missing values
missing_summary = Kenya_Df.isnull().sum()
print("\nMissing values by column:", missing_summary[missing_summary > 0])

Duplicates: 0

Missing values by column: operating_unit    6916
dtype: int64

In [ ]:
# ===
# FINAL DATA CLEANING & QUALITY CHECKS
# ===

# Drop rows with missing Operating Unit
Kenya_Df.dropna(subset=['operating_unit'], inplace=True)

# Dataset Overview
print("=" * 7)
print(f"Final Cleaned Dataset Summary")
print("=" * 7)
print(f"Rows: {Kenya_Df.shape[0]:,}")
print(f"Columns: {Kenya_Df.shape[1]:,}")
print()

# Data Structure
print("=" * 7)
print("Dataset Info:")
print("=" * 7)
Kenya_Df.info()
print()

# Missing Values Summary
print("=" * 7)
print("Missing Values per Column")
print("=" * 7)

missing_summary = (
    Kenya_Df.isna()
    .sum()
    .reset_index()
    .rename(columns={'index': 'column', 0: 'missing_count'})
)
missing_summary['missing_percent'] = (missing_summary['missing_count'] / len(Kenya_Df)) * 100
missing_summary = missing_summary[missing_summary['missing_count'] > 0]

if missing_summary.empty:
    print("No missing values!")
else:
    display(missing_summary.sort_values(by='missing_count', ascending=False))

=======
Final Cleaned Dataset Summary
=======
Rows: 99,750
Columns: 39

=======
Dataset Info:
=======
<class 'pandas.core.frame.DataFrame'>
Index: 99750 entries, 5 to 106665
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_code                    99750 non-null  object
 1   country_name                    99750 non-null  object
 2   region_name                     99750 non-null  object
 3   income_group_acronym            99750 non-null  object
 4   income_group_name               99750 non-null  object
 5   transaction_type_name_total     99750 non-null  object
 6   fiscal_year_total               99750 non-null  object
 7   current_amount_total_aid        99750 non-null  int64
 8   constant_amount_total_aid       99750 non-null  int64
 9   managing_agency_id              99750 non-null  int64
 10  managing_agency_name            99750 non-null  object
 11  Country Code_df2                99750 non-null  object
 12  transaction_type_name_agency    99750 non-null  object
 13  fiscal_year_agency              99750 non-null  int64
 14  current_amount_by_agency        99750 non-null  int64
 15  constant_amount_by_agency       99750 non-null  int64
 16  country_id_df3                  99750 non-null  int64
 17  Country Code_df3                99750 non-null  object
 18  Region ID_y                     99750 non-null  int64
 19  Region Name_y                   99750 non-null  object
 20  Income Group ID                 99750 non-null  float64
 21  Income Group Name_y             99750 non-null  object
 22  Income Group Acronym_y          99750 non-null  object
 23  sub_agency_name                 99750 non-null  object
 24  operating_unit                  99750 non-null  object
 25  intl_category_name              99750 non-null  object
 26  intl_sector_name                99750 non-null  object
 27  intl_purpose_name               99750 non-null  object
 28  us_category_name                99750 non-null  object
 29  us_sector_id                    99750 non-null  int64
 30  us_sector_name                  99750 non-null  object
 31  funding_agency_id               99750 non-null  int64
 32  funding_agency_name             99750 non-null  object
 33  activity_id                     99750 non-null  int64
 34  activity_name                   99750 non-null  object
 35  activity_description            99750 non-null  object
 36  transaction_type_name_activity  99750 non-null  object
 37  current_amount_by_activity      99750 non-null  int64
 38  constant_amount_by_activity     99750 non-null  int64
dtypes: float64(1), int64(13), object(25)
memory usage: 30.4+ MB

=======
Missing Values per Column
=======
No missing values!

NOW FILTER TO ONLY CONTAIN HEALTH REKATED RECORDS

In [499]:
# Filter for health-related records
health_df = Kenya_Df[
    Kenya_Df['intl_sector_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['intl_purpose_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['us_sector_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['activity_name'].str.contains('health', case=False, na=False) |
    Kenya_Df['activity_description'].str.contains('health', case=False, na=False)
]

health_df.head(3)

,country_code,country_name,region_name,income_group_acronym,income_group_name,transaction_type_name_total,fiscal_year_total,current_amount_total_aid,constant_amount_total_aid,managing_agency_id,...,us_sector_id,us_sector_name,funding_agency_id,funding_agency_name,activity_id,activity_name,activity_description,transaction_type_name_activity,current_amount_by_activity,constant_amount_by_activity
6,KEN,Kenya,Sub-Saharan Africa,LMIC,Lower Middle Income Country,Appropriated and Planned,2006,319053000,446079099,98,...,13,Malaria,39,Department of State and U.S. Agency for International Development,349448000,Budget for Global Health Programs,Budget for Global Health Programs,Appropriated and Planned,5470000,7647797
7,KEN,Kenya,Sub-Saharan Africa,LMIC,Lower Middle Income Country,Appropriated and Planned,2006,319053000,446079099,98,...,12,Tuberculosis,39,Department of State and U.S. Agency for International Development,349448000,Budget for Global Health Programs,Budget for Global Health Programs,Appropriated and Planned,1483000,2073434
8,KEN,Kenya,Sub-Saharan Africa,LMIC,Lower Middle Income Country,Appropriated and Planned,2006,319053000,446079099,98,...,16,Maternal and Child Health,39,Department of State and U.S. Agency for International Development,349448000,Budget for Global Health Programs,Budget for Global Health Programs,Appropriated and Planned,989000,1382755

### SAVE CLEANED FOREIGN AID DATASET

In [ ]:
# Save the final dataset
Kenya_Df.to_csv('Kenya_merged.csv', index=False)

## LOAD WORLD BANK DATASET

In [3]:
worldbank_df = pd.read_excel("C:\\Users\\lenovo\\OneDrive\\Desktop\\DS\\PROJECTS\\Impact-on-Foreign-Cutoff-Aid-On-Healthcare-in-Kenya\\Raw Data\\10. P_Data_Extract_From_World_Development_Indicators .xlsx")
worldbank_df.head()

,Series Name,Series Code,Country Name,Country Code,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Adults (ages 15+) and children (ages 0-14) newly infected with HIV,SH.HIV.INCD.TL,Kenya,KEN,67000,59000,57000,52000,46000,38000,32000,30000,25000,25000,24000,24000,23000,20000,20000
1,Adults (ages 15-49) newly infected with HIV,SH.HIV.INCD,Kenya,KEN,48000,44000,40000,36000,33000,29000,25000,22000,19000,19000,18000,18000,17000,15000,15000
2,Antiretroviral therapy coverage (% of people living with HIV),SH.HIV.ARTC.ZS,Kenya,KEN,31,38,43,47,54,65,74,81,80,78,78,84,85,86,87
3,Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV),SH.HIV.PMTC.ZS,Kenya,KEN,50,69,57,59,70,90,92,85,96,100,100,100,92,99,90
4,Children (0-14) living with HIV,SH.HIV.0014,Kenya,KEN,210000,200000,180000,170000,160000,140000,130000,120000,110000,96000,86000,79000,72000,67000,62000

In [5]:
# Check shape
print(f"World Bank DataFrame Shape:")
print(f"Rows: {worldbank_df.shape[0]:,}")
print(f"Columns: {worldbank_df.shape[1]:,}")

World Bank DataFrame Shape:
Rows: 33
Columns: 19

In [6]:
# Preview columns
worldbank_df.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]',
       '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]',
       '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]',
       '2022 [YR2022]', '2023 [YR2023]', '2024 [YR2024]'],
      dtype='object')

In [9]:
# Check unique values for each column
for col in worldbank_df.columns:
    unique_vals = worldbank_df[col].unique()
    print(f"\nColumn '{col}' has {unique_vals} unique values.")

Column 'Series Name' has ['Adults (ages 15+) and children (ages 0-14) newly infected with HIV'
 'Adults (ages 15-49) newly infected with HIV'
 'Antiretroviral therapy coverage (% of people living with HIV)'
 'Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV)'
 'Children (0-14) living with HIV'
 'Children (ages 0-14) newly infected with HIV'
 'Community health workers (per 1,000 people)'
 'Incidence of HIV, ages 15-24 (per 1,000 uninfected population ages 15-24)'
 'Incidence of HIV, all (per 1,000 uninfected population)'
 'Hospital beds (per 1,000 people)'
 "Women's share of population ages 15+ living with HIV (%)"
 'Young people (ages 15-24) newly infected with HIV'
 'Current health expenditure (% of GDP)'
 'Current health expenditure per capita, PPP (current international $)'
 'Domestic general government health expenditure (% of current health expenditure)'
 'Domestic general government health expenditure (% of general government expenditure)'
 'Domestic general government health expenditure (% of GDP)'
 'Domestic general government health expenditure per capita (current US$)'
 'Domestic general government health expenditure per capita, PPP (current international $)'
 'External health expenditure per capita (current US$)'
 'External health expenditure (% of current health expenditure)'
 'External health expenditure per capita, PPP (current international $)'
 'Out-of-pocket expenditure per capita (current US$)'
 'Out-of-pocket expenditure (% of current health expenditure)'
 'Out-of-pocket expenditure per capita, PPP (current international $)'
 'Prevalence of HIV, male (% ages 15-24)'
 'Prevalence of HIV, female (% ages 15-24)'
 'Prevalence of HIV, total (% of population ages 15-49)' nan
 'Data from database: World Development Indicators'
 'Last Updated: 10/07/2025'] unique values.

Column 'Series Code' has ['SH.HIV.INCD.TL' 'SH.HIV.INCD' 'SH.HIV.ARTC.ZS' 'SH.HIV.PMTC.ZS'
 'SH.HIV.0014' 'SH.HIV.INCD.14' 'SH.MED.CMHW.P3' 'SH.HIV.INCD.YG.P3'
 'SH.HIV.INCD.TL.P3' 'SH.MED.BEDS.ZS' 'SH.DYN.AIDS.FE.ZS' 'SH.HIV.INCD.YG'
 'SH.XPD.CHEX.GD.ZS' 'SH.XPD.CHEX.PP.CD' 'SH.XPD.GHED.CH.ZS'
 'SH.XPD.GHED.GE.ZS' 'SH.XPD.GHED.GD.ZS' 'SH.XPD.GHED.PC.CD'
 'SH.XPD.GHED.PP.CD' 'SH.XPD.EHEX.PC.CD' 'SH.XPD.EHEX.CH.ZS'
 'SH.XPD.EHEX.PP.CD' 'SH.XPD.OOPC.PC.CD' 'SH.XPD.OOPC.CH.ZS'
 'SH.XPD.OOPC.PP.CD' 'SH.HIV.1524.MA.ZS' 'SH.HIV.1524.FE.ZS'
 'SH.DYN.AIDS.ZS' nan] unique values.

Column 'Country Name' has ['Kenya' nan] unique values.

Column 'Country Code' has ['KEN' nan] unique values.

Column '2010 [YR2010]' has [67000 48000 31 50 210000 17000 '..' 2.8 1.8 1.4 63.2709436874647 23000
 5.38849831 141.960839570636 28.96219444 7.24412632 1.56062746 17.03454118
 41.1149761783567 16.9420468 28.80493546 40.8917295491835 17.7499721
 30.17857361 42.8417573859132 1.5 3.3 5.5 nan] unique values.

Column '2011 [YR2011]' has [59000 44000 38 69 200000 13000 '..' 2.5 1.5 63.2004569189904 21000
 5.20212841 143.073445685989 30.8654747 7.98109102 1.60566163 17.60037975
 44.1602975044906 15.00984189 26.32249451 37.6604989595341 17.65777925
 30.96613503 44.3043159445916 1.6 3.3 5.3 nan] unique values.

Column '2012 [YR2012]' has [57000 40000 43 57 180000 15000 '..' 2.2 1.4 63.3569283969042 19000
 5.0180583 143.519052155973 32.40784454 7.35927916 1.62624443 20.89732864
 46.5114297323349 15.67615744 24.31078529 34.8906076984724 20.37922001
 31.60435486 45.358269282035 1.6 3.2 5.2 nan] unique values.

Column '2013 [YR2013]' has [52000 36000 47 59 170000 14000 '..' 2 1.3 63.5925685990103 17000
 4.93100405 154.554665440907 33.68307114 7.14972067 1.66091359 22.76911348
 52.0587551171938 15.30928549 22.64751053 35.002783249331 21.72064152
 32.13203049 49.661553961641 1.6 3.1 5 nan] unique values.

Column '2014 [YR2014]' has [46000 33000 54 70 160000 11000 '..' 1.8 1.1 63.8738223084057 15000
 4.91267347 167.273249168078 37.40696716 7.8450079 1.83768213 27.24943859
 62.5718488076553 14.58321082 20.01926231 33.4868720169398 21.28688298
 29.22180367 48.8802592793624 1.6 2.9 4.9 nan] unique values.

Column '2015 [YR2015]' has [38000 29000 65 90 140000 6900 '..' 1.5 0.87 64.1371329625483 13000
 4.76439571 178.417928710105 40.38045883 8.07448006 1.92388499 28.64894796
 72.0459779864814 12.71425186 17.92063522 31.9736246675145 19.08348321
 26.89801407 47.9908795682791 1.6 2.8 4.7 nan] unique values.

Column '2016 [YR2016]' has [32000 25000 74 92 130000 5900 '..' 1.3 0.73 64.3713691631085 11000
 4.75429106 190.42606296273 42.80955124 8.02543449 2.03529072 31.63098322
 81.5205424801051 11.97436361 16.20617104 30.8607737873675 18.47171967
 24.99973106 47.606000670496 1.5 2.6 4.5 nan] unique values.

Column '2017 [YR2017]' has [30000 22000 81 85 120000 6800 '..' 1.1 0.65 64.6138239663588 9800
 3.98597503 171.039205289815 42.93966675 6.79240465 1.71156442 28.54007223
 73.4436645743446 14.0154042 21.08673096 36.06657461843 15.47357109
 23.28059959 39.8189519425008 1.4 2.4 4.3 nan] unique values.

Column '2018 [YR2018]' has [25000 19000 80 96 110000 4700 '..' 0.92 0.54 64.8399299325316 8700
 4.09903383 186.4665705054 43.10948181 7.21874523 1.7670722 32.45144581
 80.3847704389808 16.67750559 22.1549015 41.3114862708997 17.58847099
 23.36505699 43.5680188476173 1.4 2.2 4.1 nan] unique values.

Column '2019 [YR2019]' has [25000 19000 78 100 96000 4600 '..' 0.88 0.51 1.33 65.0570812178574 8600
 4.36874676 208.51188374672 45.97900772 8.22723579 2.00870633 39.37885207
 95.871696756714 15.85290048 18.50995064 38.595448781944 20.81160169
 24.29976273 50.6678956203125 1.3 2.1 3.9 nan] unique values.

Column '2020 [YR2020]' has [24000 18000 78 100 86000 4400 '..' 0.83 0.48 65.2973564383673 8300
 4.49248838 212.395144734721 49.19530869 8.91046047 2.2100935 42.59929056
 104.48844461766 14.86076451 17.16178513 36.4507988170985 20.2040972
 23.33247185 49.5570387117476 1.2 1.9 3.7 nan] unique values.

Column '2021 [YR2021]' has [24000 18000 84 100 79000 4800 '..' 0.78 0.47 65.5326516425955 8000
 4.56525421 238.105379807135 48.8298645 9.28240871 2.22920752 45.95190943
 116.266534426841 17.37673392 18.46503448 43.9662389963079 21.33874073
 22.67518044 53.9908235626364 1.2 1.8 3.6 nan] unique values.

Column '2022 [YR2022]' has [23000 17000 85 92 72000 4600 '..' 0.72 0.44 65.7546859846309 7600
 4.32603645 248.397108730233 46.73620987 8.65115547 2.02182531 42.26814462
 116.091391683073 16.60171079 18.35663795 45.5973576997758 21.89435028
 24.20874977 60.1338340577241 1.1 1.7 3.4 nan] unique values.

Column '2023 [YR2023]' has [20000 15000 86 99 67000 3600 '..' 0.62 0.37 65.9722812634495 6700 1 1.5
 3.2 nan] unique values.

Column '2024 [YR2024]' has [20000 15000 87 90 62000 4300 '..' 0.57 0.37 66.1860973366348 6400 0.9 1.4
 3 nan] unique values.

In [10]:
# Check nulls and duplicates
print(f"Null values in each column:")
print(worldbank_df.isnull().sum())
print(f"\nDuplicate rows:")
print(worldbank_df.duplicated().sum())

Null values in each column:
Series Name      3
Series Code      5
Country Name     5
Country Code     5
2010 [YR2010]    5
2011 [YR2011]    5
2012 [YR2012]    5
2013 [YR2013]    5
2014 [YR2014]    5
2015 [YR2015]    5
2016 [YR2016]    5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
2021 [YR2021]    5
2022 [YR2022]    5
2023 [YR2023]    5
2024 [YR2024]    5
dtype: int64

Duplicate rows:
2